# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.7z

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#MS Project
*.mpp

# Eclipse data and project binaries
*.metadata*
*bin*

/dev/Ambi-like_PC/nbproject/private/
/dev/Ambi-like_PC/build/
/dev/Ambi-like_rp/dist/